@import '~scss/variables';
@import '~scss/mixins';

.content {
  position: relative;
  top: -$header-height;
}

.formWrapper {
  width: $apps-content-width;
  padding: 32px 24px 0;
  margin: 0 auto;
  margin-bottom: 0 !important;
}

.form {
  padding-right: 76px;
}

.stepsWrapper {
  width: $apps-content-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps {
  background-color: $bg-color;
}

.control {
  display: flex;
  align-items: center;
  button {
    width: 120px;
    margin-right: 40px;
  }
  // justify-content: space-between;
  // width: 300px;
  // justify-content: ;
}

.loading {
  display: block;
  padding: 150px;
}
