@import '~scss/variables';
@import '~scss/mixins';

.content {
  position: relative;
  top: -$header-height;
}

.formWrapper {
  width: $apps-content-width;
  padding: 32px 24px;
  margin: 0 auto;
  margin-bottom: 0 !important;
}

.form {
  padding-right: 76px;
}

.steps {
  background-color: $bg-color;
}

.control {
  width: 200px;
  button {
    width: 100%;
  }
}

.loading {
  display: block;
  padding: 150px;
}

.footer {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  display: flex;
}

.left {
  width: 70%;
}

.right {
  flex: 1;
}

.itemWrapper {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 10px 20px;
  &.active {
    border-color: #55bc8a;
  }
  .name {
    font-size: 18px;
    color: #333;
    font-weight: 500;
  }

  .resource {
    padding-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
